language: python
dist: xenial
cache: pip
services:
  - docker

# stage decl.
stages:
  - name: test
  - name: deploy
    if: tag IS present

# build matrix for test stage
os:
  - linux
env:
  global:
    - BACKEND_ETCD_ADDR=localhost:2379
    - BACKEND_NAMESPACE=local
python:
  - "3.8"

# the default test stage
install:
  - pip install -U pip setuptools
  - pip install -U -r requirements/test.txt
before_script:
  - mkdir -p /tmp/etcd
  - docker run -d -p 2379:2379 -p 2380:2380
     -v /tmp/etcd:/etcd-data
     --name backendai-etcd
     quay.io/coreos/etcd:v3.4.1
     /usr/local/bin/etcd
     --name backendai-etcd
     --data-dir /etcd-data
     --listen-client-urls http://0.0.0.0:2379
     --advertise-client-urls http://0.0.0.0:2379
     --listen-peer-urls http://0.0.0.0:2380
     --initial-advertise-peer-urls http://0.0.0.0:2380
     --initial-cluster backendai-etcd=http://0.0.0.0:2380
     --initial-cluster-token backendai-etcd-token
     --initial-cluster-state new
     --auto-compaction-retention 1
script:
  - python -m pytest --cov=src -v
after_script:
  - codecov

# stage def.
jobs:
  include:
    - stgae: test
    - stage: deploy
      python: "3.8"
      install:
        - pip install -U pip setuptools
        - pip install -U -r requirements/build.txt
      before_script: skip
      script: skip
      deploy:
        on:
          tags: true
        provider: pypi
        distributions: sdist bdist_wheel
        upload_docs: false
        username: "__token__"
        password:
          secure: "In0bo0VEhjdhajkhw15TqNuDmRf3/flHTxso8Xp0ajqtuYTV3tjDn0B405FJ2JH6XX72gHWYSz2l5TnZzvWxt7XgD32aGxsyHd5E0VYq1ARSogA56PcCgJq0wU5SibzJV9EhV4nHhwDL20zIxIkeXmE1ao85URFYmvQryP1NmAPGDd/823mRDgb6G7z/Z8LStp+/L/YAoMgDN7APiEWQCI45DGJ2lwFwY2rsOAFvikHO8fT4Tq03IL9uFYRD52D0WYvvfumss9Hfvjd8rX+aaDkeyxung16zLdi9pFSn4lLk3zAfM1D4cDv4o3eTfp8EeoknSMXcbv6M10MjfYpLRVjxjf0NTG9YXFwd3oGm2GFjvkI0UKLpQp9/fdF/lXS6t56teD2e91AMZxJYU4SOffMWQCuoYGzNdRL6txsB2U79ciUZaW4mbVi7njPcWTWS0kzI7YRbSEOhGxDh2UIanH8znlcJHarQa8UWiYDXQc+4icU5V3FBInhJkVK8nsGQNf1pTtVqjJJW6kGIJVv8SHbLlaXe7BOvO+/0CNvh3fPQuIKS4j4gxSU5KwKsXw0qqTfEebFXEEUmnswMSyZLNzsPc7/FropYaEIWRmhP5PAEu0MTY73JTwtWcenIk1OkRqED92UTh1qE3Mlydwva1G1MskUMQh9oCCDtl3Jo6i8="

notifications:
  webhooks:
    secure: "Gd9njovK7f0UBDDuwwwNUSIhaipvQQOjXWkPsNXZr04eO43PqElnOn2emjDEiXO78Ovu5GGyUk27fhmqy7JdYTHPVAAd98fVbmzFwPu3XKvDNSrylbrckqoKRejcN5rRsPSzMFOklhwC/NHKiBz+XD2OhfITAqrnSc5BXKnHgBfPxK5s662oj6pQl3Uvvp5RCsuU8ceHq7xg224Kdkx2If+0oyB/8xRqG4E6vCS55jnxGFCOjGkfNg1wP8v9c8a9R7KNtz4ErlxQ5hVzCE8l6pHUTvscehzu/7JJmxziKLuXJYOyUGOKJCaHcYPRoUiPo6N0WbW1snDHK0d6XNGz7BFS3DVfzBama6pB3h4uiM02k8I+lm13L2xXN0A9ger0pRvDEieUTnXEc/zEy9wPCkSbFKMSkbshEPHnFzvDNJIaQELIQ+zXmNdBSCki3848WKMh85REwRwxczHr+bgz8JILb5DSgDBSJu2G7mOWCM5dohDrH6UfLI6fG4Dl48dJpu8pEO86PxE7MJ/u+fgnEGjINaaudoM29TQ4ArXNLHcC2C40ONWh/nsmzktAz/WgVPSvLtyJGA4lSgRkzxSGNr8rG1OMM1jeE/kBu246P26di+AcYX3o1JjKQhI3U2ql9ht0npIRWxO31aWn1kY+GYyjPt9/QSBTwPY0PY0dkxQ="
